certifi==2024.8.30
charset-normalizer==3.4.0
decorator==4.4.2
idna==3.10
imageio==2.35.1
imageio-ffmpeg==0.5.1
importlib_resources==6.4.5
moviepy==1.0.3
numpy==1.24.4
opencv-python==4.5.5.64
pillow==10.4.0
proglog==0.1.10
pygame==2.6.1
pygame-ce==2.5.1
pygame_gui==0.6.12
python-i18n==0.3.9
requests==2.32.3
tqdm==4.66.5
urllib3==2.2.3
zipp==3.20.2
